.particle {
  position: fixed;
  width: 8px;
  height: 8px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  pointer-events: none;

  /* Glow effect */
  box-shadow: 
      0 0 8px rgba(255, 255, 255, 0.8),
      0 0 16px rgba(0, 150, 255, 0.7),
      0 0 32px rgba(0, 150, 255, 0.5);

  animation: fadeGlow 0.6s ease-out forwards;
}

@keyframes fadeGlow {
  0% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }
  100% {
    opacity: 0;
    transform: scale(2);
    filter: blur(8px);
  }
}


.cursor-click {
  width: 40px;
  height: 40px;
  background: #94a3b8   ;
  border-radius: 50%;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0);
  animation: clickAnim 0.4s ease-out forwards;
  z-index: 999999;
}

@keyframes clickAnim {
  0% { transform: translate(-50%, -50%) scale(0); opacity: 0.7; }
  100% { transform: translate(-50%, -50%) scale(.9); opacity: 0; }
}


.logo {
  transition: transform 0.3s ease-out;
  box-shadow:#94a3b8;
}

.logo:hover{
  transform: scale(1.1);
}

