.icon {
    font-size: 3rem;
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
  opacity: 0;
  animation: fadeRotate 0.8s ease forwards;

}
@keyframes fadeRotate {
  from { opacity: 0; transform: rotate(-90deg); }
  to   { opacity: 1; transform: rotate(0deg); }
}

.icon2 {
    font-size: 3rem;
   transform: rotate(90deg);
   transition: transform 0.3s ease;
  opacity: 0;
  animation: fadeRotate2 0.8s ease forwards;
}

@keyframes fadeRotate2 {
  from { opacity: 0; transform: rotate(90deg); }
  to   { opacity: 1; transform: rotate(0deg); }
}



.div:hover {
    transform: scale(1.1);
    cursor: pointer;
}